{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="home-bg" style="background-image: url({% static 'images/pets.jpg' %})">
	<div class="row justify-content-md-center">
		<div class="col-sm-4">

			{% for field in object_list %}
			<center>
				<br />
				<br />
				<br />

				<div class="profile-name text-center">
					<br />
					<h4>Welcome {{ request.user.username }}</h4>
					<br />
					Username: {{ request.user.username }}
					<br />
					Name: {{ request.user.first_name }} {{ request.user.last_name }}
					<br />
					Email: {{ request.user.email }}
					<br />
				</div>
				{% if view.kwargs.username == user.username %}

				<h1></h1>

				<a class="btn" href="{% url 'accounts:profile_update' %}"
				>Edit Alerts</a
				>
				<a class="btn" href="{% url 'accounts:logout' %}">Logout</a>

				{% endif %}
			</center>
			{% endfor %}
		</div>
	</div>
</section>

{% endblock %}
