{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- main image-->
<section class="home-bg" style="background-image: url({% static 'images/pets.jpg' %})">
	<div class="row justify-content-md-center">
		<div class="col-sm-4">

			<form id="form">
				<label for="title"> <h3>Your Friend is Waiting:</h3></label>
				<br>

				<div class="form-group"> <!-- bootstrap-->
					<label for="faf_type">Friend's Type:</label>
					<br>
					<select id="pet" class="form-control">
						<option value="dog">Dog</option>
						<option value="cat">Cat</option>
						<option value="rabbit">Rabbit</option>
					</select>
					<br>
					<label for="faf_age">Friend's Age:</label>
					<br>
					<select id="age" class="form-control">
						<option value="">Optional</option>
						<option value="baby">Baby</option>
						<option value="young">Young</option>
						<option value="adult">Adult</option>
						<option value="senior">Senior</option>
					</select>
					<br>
					<label for="faf_breed">Friend's Breed</label>
					<br>
					<input type="text" id="breed" class="form-control" placeholder="Optional">
					<br>
					<input type="submit" value="Find a Friend" class="btn btn-danger">
				</div>
			</form>
		</div>


	</div>
</section>
<section>
	<h2>Search Results:</h2>
	<div class="row justify-content-md-center">
		<div class="row container" id="printApi">
		</div>
		<br>
		<br>
	</div>
	<div class="row justify-content-md-center">
		<div class="col3-sm-2">
			<button id="loadLess" type="button" class="btn btn-danger"> < </button>
			<button id="loadMore" type="button" class="btn btn-danger"> > </button>
		</div>
	</div>
</section>

<section >
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="{% static 'getApi.js'  %}"></script>
	<script src="{% static 'setApi.js' %}"></script>
</section>


	{% endblock %}
