/*
    main picture background
*/

.home-bg {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 170px 0 130px;
  color: Black;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.profile-dropdown-menu {
  margin: 0;
  padding: 0;
  padding-top: 10px;
  list-style: none;
}

.dropdown-title {
  text-align: center;
}

.dropdown-profile .perfil-image img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #f2f3f5;
}

.dropdown-profile .profile-details {
  padding-left: 50px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
